* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  display: block;
  width: 100%;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgba(47, 47, 47, 0.765);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.5s;
}

.image:hover .overlay {
  opacity: 1;
  cursor: pointer;
}
